body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}

canvas {
  background-color: black;
  border: 2px solid white;
}
